<div class="app">
  <header>
    <app-navbar></app-navbar>
    <div class="page-header">
      <div class="container">
        <div class="row">
          <div
            class="col-sm-5 header-text align-items-center mt-5 d-flex flex-sm-row flex-column"
          >
            <h1 class="header-title">
              Get in <span>touch</span><br />with us
              <p>
                Contact our support team, email us or whatsapp and we will help
                you achieve more today.
              </p>
            </h1>
          </div>
          <div
            class="col-sm-7 mt-5 align-items-center d-flex flex-sm-row flex-column"
          >
            <img class="image-header" src="assets/images/woman.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="py-9 mt-5">
    <div class="container">
      <div class="row forms">
        <h3 class="twittes">Contact</h3>
        <div class="col-sm-6 mt-5">
          <input
            type="text"
            class="form-control"
            placeholder="What are your names"
          />
        </div>
        <div class="col-sm-6 mt-5">
          <input
            type="text"
            class="form-control"
            placeholder="Enter your email address"
          />
        </div>
        <div class="col-sm-12 mt-5">
          <textarea
            class="form-control"
            name=""
            id=""
            cols="30"
            rows="10"
            placeholder="Let us know how we can help you get payouts quicker"
          ></textarea>
        </div>
        <button class="btn btn-primary btn-sm mt-3 contact-btn">Send</button>
      </div>
    </div>
  </section>
  <section class="py-9 mt-5">
    <div class="container mt-5">
      <div class="row mt-5">
        <div class="col-sm-3 mt-5">
          <h4 class="twittes">Follow us;</h4>
        </div>
        <div class="col-sm-9 mt-5 contact-icons">
          <span class="ms-5"
            ><i class="mdi mdi-twitter contactIcon"></i> @quickerpayouts</span
          >
          <span class="ms-5"
            ><i class="mdi mdi-facebook contactIcon"></i> Qualis Digital
            Loans</span
          >
          <span class="ms-5"
            ><i class="mdi mdi-whatsapp contactIcon"></i> +260 971 234 567</span
          >
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
