<div class="app">
  <header>
    <app-navbar></app-navbar>
    <div class="page-header">
      <div class="container">
        <div class="row">
          <div
            class="col-sm-5 header-text align-items-center mt-5 d-flex flex-sm-row flex-column"
          >
            <h1 class="header-title">
              How <span>Payday</span><br />loans work
              <p>
                When you need a Digital Financial Partner to help you
                <br />achieve more. Borrow and get things done quicker.
              </p>
              <button class="btn btn-primary sign-up-btn">
                Sign Up <i class="mdi mdi-arrow-right"></i>
              </button>
            </h1>
          </div>
          <div class="col-sm-7 mt-5 align-items-center d-flex">
            <img
              class="image-header double-img"
              src="assets/images/woman-home.png"
              alt=""
            />
            <img
              class="image-header mt-5 ms-4 double-img"
              src="assets/images/man-home.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="py-9 mt-5">
    <div class="container mt-5">
      <div class="row mt-5">
        <div class="align-items-center">
          <div class="text-center">
            <button class="btn btn-primary btn-salary-advance">
              Salary Advance
            </button>
            <h1 class="mt-5 apply-loan">
              Apply for a Payday loan & get <br /><span>payouts</span> quicker.
            </h1>
            <br />
            <div class="mt-5">
              <div class="mt-5">
                <div class="mt-5">
                  <h4 class="mt-5 mb-5 qualifies">
                    Who qualifies for a Salary Loan
                  </h4>
                  <p class="loan-qualify">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Maecenas porttitor congue massa. Fusce posuere, magna sed
                    pulvinar ultricies, purus lectus malesuada libero, sit amet
                    commodo magna eros quis urna. Nunc viverra imperdiet enim.
                    Fusce est. Vivamus a tellus. Pellentesque habitant morbi
                    tristique senectus et netus et malesuada fames ac turpis
                    egestas. Proin pharetra nonummy pede. Mauris et orci. Aenean
                    nec lorem.
                  </p>
                </div>
              </div>
            </div>
            <br />
            <div class="mt-5">
              <div class="mt-5">
                <h3 class="mb-5 qualifies">How to apply online</h3>
              </div>
            </div>
          </div>
          <div class="video-apply p-5">
            <div class="overlay"></div>
            <div class="row">
              <div
                class="col-sm-4 d-flex flex-sm-row flex-column align-items-center p-5"
              >
                <h4 class="how-to-apply">
                  How to do <br /><span
                    >Apply for a loan using the Qualis Web App.</span
                  >
                </h4>
              </div>
              <div
                class="col-sm-8 d-flex flex-sm-row flex-column align-items-center p-5"
              >
                <img
                  class="play-video"
                  src="assets/images/play-video.png"
                  alt=""
                />
              </div>
            </div>
          </div>
          <br />
          <div class="sme-loans mt-5 mb-5">
            <button class="loans-sme btn btn-primary btn-salary-advance">
              SME Loans <i class="mdi mdi-arrow-right"></i>
            </button>
          </div>
          <br />
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
