<footer class="mt-5 py-9">
  <section class="py-9 footer">
    <div class="container mt-5">
      <div class="row mt-5">
        <div class="col-sm-2 mt-5">
          <h5>HOME</h5>
          <ul class="footer-link ps-0">
            <li>
              <a [routerLink]="['/home']">Persoan loans</a>
            </li>
            <li>
              <a [routerLink]="['/home']">Payday loan</a>
            </li>
            <li>
              <a [routerLink]="['/home']">SME loans</a>
            </li>
            <li>
              <a [routerLink]="['/home']">Web app</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-2 mt-5">
          <h5>ABOUT US</h5>
          <ul class="footer-link ps-0">
            <li>
              <a [routerLink]="['/home']">Sectors</a>
            </li>
            <li>
              <a [routerLink]="['/home']">Fraud guide</a>
            </li>
            <li>
              <a [routerLink]="['/home']">Legal</a>
            </li>
            <li>
              <a [routerLink]="['/home']">About</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-2 mt-5">
          <h5>COMMUNITY</h5>
          <ul class="footer-link ps-0">
            <li>
              <a [routerLink]="['/home']">Social community</a>
            </li>
            <li>
              <a [routerLink]="['/home']">Blog</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-2 mt-5">
          <h5>CONTACT US <i class="mdi mdi-phone-outline phone-link"></i></h5>
          <ul class="footer-link ps-0">
            <li>
              <a [routerLink]="['/home']">Inquiries</a>
            </li>
          </ul>
          <div>inquiries@qualis.co</div>
          <div>+260961475400</div>
          <div>08h00 - 17h00</div>
        </div>
        <div class="col-sm-2 mt-5">
          <h5></h5>
          <ul class="footer-link ps-0">
            <li>
              <a [routerLink]="['/home']">Support</a>
            </li>
          </ul>
          <div>support@qualis.co</div>
          <div>+260961475400</div>
          <div>08h00 - 17h00</div>
        </div>
        <div class="col-sm-2 mt-5">
          <h5></h5>
          <ul class="footer-link ps-0">
            <li>
              <a [routerLink]="['/home']">Technical</a>
            </li>
          </ul>
          <div>tech@qualis.co</div>
          <div>+260961475400</div>
          <div>08h00 - 17h00</div>
        </div>
        <hr class="mt-5" />
        <div class="mt-5 col-sm-12 mb-5">
          <div class="row">
            <div class="col-sm-2 d-flex align-items-center">
              <img src="assets/images/footer-logo.png" alt="" />
            </div>
            <div class="col-sm-4 d-flex align-items-center">
              <p>2022 Qualis Digital Loans</p>
            </div>
            <div class="col-sm-2 botton-social d-flex align-items-center">
              <span class="ms-3"><i class="mdi mdi-twitter"></i></span>
              <span class="ms-3"><i class="mdi mdi-facebook"></i></span>
              <span class="ms-3"><i class="mdi mdi-whatsapp"></i></span>
            </div>
            <div class="col-sm-4 d-flex align-items-center">
              <span class="ms-5"
                ><a class="contact-link-footer" [routerLink]="['/home']"
                  >Contact Us</a
                ></span
              >
              <span class="ms-5">Legal</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
